.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










body {
  margin-top: 20px;
  background: #eee;
}

.service-container {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .icon {
  margin-top: 5%;
  font-size: 38px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 {
  height: 70px;
  width: 70px;
  line-height: 80px;
  border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
  border-color: #f89d36 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 i {
  font-size: 30px;
}

.service-container .number-icon .number {
  position: absolute;
  top: 0;
  right: 70px;
  left: 0;
  height: 35px;
  width: 35px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .number span {
  line-height: 30px;
}

.service-container .content .number {
  font-size: 40px;
  color: #dee2e6;
}

.service-container .content .title {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container.hover-bg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container.hover-bg .smooth-icon {
  position: absolute;
  bottom: -40px;
  right: -20px;
  font-size: 60px;
  color: #f8f9fa;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.service-container.hover-bg:hover {
  background-color: #f89d36;
}

.service-container.hover-bg:hover .content .title {
  color: #ffffff !important;
}

.service-container.hover-bg:hover .content .serv-pera {
  color: #fafafb !important;
}

.service-container.hover-bg:hover .smooth-icon {
  font-size: 100px;
  opacity: 0.2;
  bottom: -20px;
  right: 10px;
}

.service-container:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
}

.service-container:hover .icon {
  color: #f89d36;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.service-container:hover .number-icon .icon-2 {
  background-color: #f89d36;
  border-radius: 50% !important;
}

.service-container:hover .number-icon .icon-2 i {
  color: #ffffff !important;
}

.service-container:hover .number-icon .number {
  color: #ffffff;
  background: #f89d36 !important;
  border-color: #ffffff !important;
}

.service-container:hover .content .title {
  color: #f89d36;
}

.service-container a:hover,
.service-container a .title:hover {
  color: #f89d36 !important;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.service-wrapper {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper .icon {
  width: 60px;
  height: 60px;
  line-height: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper .content .title {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
}

.service-wrapper .big-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper:hover {
  -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  background: #ffffff;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  border-color: transparent !important;
}

.service-wrapper:hover .icon {
  background: #0062ff !important;
  color: #ffffff !important;
}

.service-wrapper:hover .big-icon {
  z-index: -1;
  opacity: 0.1;
  font-size: 160px;
}

.text-custom {
  color: #0062ff !important;
}

.uim-svg {
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
  font-size: inherit;
  fill: var(--uim-color, currentColor);
}






/* 

@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Cairo:300,600,700,900');

body {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  letter-spacing: .025rem;
  color: #494949;
}

h1 {
  font-weight: 900;
}

h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

p {
  color: #6c757d;
}

img {
  max-width: 100%;
}

.about-section {
  width: 100%;
  height: 100vh;
}

.left-header {
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://source.unsplash.com/4kkYkFNfJV8/706x900');
  background-size: cover;
  padding: 4rem;
}

.left-header::before {
  background-color: #fff;
  position: absolute;
  content: '';
  bottom: 50px;
  left: 30px;
  margin: 0 1rem;
  width: 80%;
  height: 2px;
}

.left-header::after {
  background-color: #fff;
  position: absolute;
  content: '';
  bottom: 50px;
  left: 30px;
  margin: 0 1rem;
  height: 80%;
  width: 2px;
}

.left-header h2 {
  margin-left: 4rem;
}

.v-center-box {
  min-height: 100%;
}

.sub-heading {
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .15rem;
  word-spacing: .05rem;
}

.about-data {
  position: relative;
}

.about-data::before {
  position: absolute;
  content: '\003c/ ABOUT \003e';
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  font-size: .8rem;
  font-weight: 900;
  color: #dee2e6;
  background-color: #fff;
  width: 8rem;
}

.about-data i {
  color: #f12d2d;
}

.about-data p {
  font-size: .7rem;
  letter-spacing: .05rem;
  word-spacing: .2rem;
}

.about-data .data-number {
  color: #494949;
  font-size: 1.2rem;
}

.icon-18 {
  font-size: 1.8rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .left-header::before {
    width: 70%;
  }
}

@media (min-height: 590px) {
  .left-header::after {
    height: 85%;
  }
} */


/* .about-title {
  text-align: center;
} */

.Team{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}